body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    /* background-image: url("./img/body.jpg"); */
    /* color: white; */
}

.header-nav {
    padding: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 92%);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    width: 100px;
}

.title-nav {
    color: white;
    text-align: center;
    margin: 10px;
}

.div-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color:#00d4ff; */
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.div-flex-container {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.div-flex {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card-img {
    align-items: center;

}

.div-h1 {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-align: center;

}

.div-btn {
    display: flex;
    flex-direction: row;

}

.button1 {
    background-color: #bf0603;
    color: white;
    width: 100px;
    text-align: center;
    height: 40px;
    border: 2px solid #bf0603;
    border-radius: 10px;
    border-color: white;
    margin: 10px;
    transition: border 1s;
}

.button1:hover {
        background-color: white;
        color: #bf0603; 
        border-color: #bf0603;
        transition: border 1s;


}

.button2 {
    background-color: #2DC653;
    color: white;
    width: 100px;
    text-align: center;
    height: 40px;
    border: 2px solid #0099CC;
    border-radius: 10px;
    border-color: white;;
    color: white;
    height: 40px;
    border: 2px solid #0099CC;
    border-radius: 10px;
    border-color: white;
    margin: 10px;
    transition: border 1s;

}

.button2:hover {
    background-color: white;
    color: green; 
    border-color: #2DC653;
}

.img-line {
    margin: 10px;
    width: 300px;
}

.div-flex-container {
    border-top: 1px solid #ced4da;
    /* margin: 10px; */
    padding: 10px;
}

.err {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.div-err {
    margin: auto;
    margin-bottom: 30px;
}

.img-err {
    width: 100px;
}

.img-footer{
width: 100%;
}




/*################################################*/
/* historico.html */

.div-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #cad2c5;
}

.div-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link1 {
    text-align: center;
    width: 80px;
    color: white;
    margin: 10px;
    padding: 10px;
    background-color: #d62828;
    border: 2px solid white;
    border-radius: 10px;
    transition: border 1s;

}

.link1:hover {
    background-color: white;
    color: #d62828;
    border-color: #d62828;
    transition: border 1s;
}

.link2 {
    text-align: center;
    width: 80px;
    color: white;
    margin: 10px;
    padding: 10px;
    background-color: #f77f00;
    border: 2px solid white;
    border-radius: 10px;
    transition: border 1s;

}

.link2:hover {
    background-color: white;
    color: #f77f00;
    border-color: #f77f00;
    transition: border 1s;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.div-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.data-img {
    width: 350px;
    border-bottom: 1px solid #cad2c5;
}

.img-flex {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
}

.h5-subtitle {
    text-align: center;
}

.p-footer {
    text-align: center;
}